/* Fonts */
h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    margin-top: 10px;
}

/* Small Text */
#small_text {
    font-size: 12px;
}

/* Body */
body {
    background-color: white;
}

/* Page */
.page {
    width: 1200px;
    margin: auto;
    padding-top: 35px;
}

/* Pure Grid */
.pure-g {
    margin-bottom: 25px;
}

/* Small Font */
.small-font {
    font-size: 14px;
}

/* Banner */
#banner {
    padding: 20px;
    background-color: white;
}

/* Choro Frame */
#choro_frame {
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

/* Choropleth Map */
#choropleth_map {
    margin: 0 auto;
}

/* Scatter Frame */
#scatter_frame {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

/* Bar Frame */
#bar_frame {
    background-color: white;
    margin-left: 30px;
    padding: 20px;
    padding-bottom: 47.5px;
}

/* Line Frame */
#line_frame {
    background-color: white;
    padding: 20px;
}

/* End Credit */
#end_credit {
    background-color: black;
    padding: 10px 20px;
}

/* Background Color for Body */
body {
    background-color: #000000;
}
